// Colours
$greenish: #2E5339;
$redish: #CA3C2D;
$beige: #E3DCC2;
$cream: #F7BD7E;


// Fonts
$antic: 'Antic Didone', serif;
$raleway: 'Raleway', sans-serif;


// Breakpoints
// Up to and including cellphones
@mixin sm {
  @media (max-width: 576px) {
    @content;
  }
}
// " " small tablets and large smartphones (landscape view)
@mixin md {
  @media (max-width: 768px) {
    @content;
  }
}
// " " small tablets (portrait view)
@mixin lg {
  @media (max-width: 992px) {
    @content;
  }
}
// " " tablets and small desktops
@mixin xl {
  @media (max-width: 1200px) {
    @content;
  }
}


@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}


///////////////////////////////////////////////////////////////////////////////
//                                                                           //
//                                  Styling                                  //
//                                                                           //
///////////////////////////////////////////////////////////////////////////////

body {
  font-family: $raleway !important;
  font-size: 16px !important;
  font-weight: 300 !important;
  color: $beige !important;
  background-color: #000 !important;
}

a {
  color: $cream !important;

  &:hover {
    color: $cream !important;
    text-decoration: none !important;
  }
}

.title {
  color: $cream;
  font-family: $antic;
  font-size: 48px;
  letter-spacing: 0.2em;
  margin-bottom: 80px;

  @include sm {
    font-size: 40px;
  }
}

.home-icon {
  filter: invert(87%) sepia(99%) saturate(6751%) hue-rotate(303deg) brightness(104%) contrast(94%);
  padding-top: 0.5em;
  transition: all .5s ease-in-out;

  &:hover {
    opacity: 0.6;
    transform: scale(1.3);
  }
}

.origin {
  font-weight: 100;
}

ol {
  padding-inline-start: 24px;
}

.noun {
  font-size: 1.2em;
  font-style: italic;
  font-weight: 500;
}

.far {
  color: $cream;
}


///////////////////////////////////////////////////////////////////////////////
//                                                                           //
//                                   Video                                   //
//                                                                           //
///////////////////////////////////////////////////////////////////////////////

.video-container {
  position: sticky;
  z-index: -1;
  top: 0;
  left: 0;
}

.video-overlay {
  position: absolute;
  float:left;
  width: 100vw;
  min-height: 100vh;
  background-color:#000;
  opacity: 0.4;
  z-index:300000;
}

.video-container video {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}


///////////////////////////////////////////////////////////////////////////////
//                                                                           //
//                                 Home Grid                                 //
//                                                                           //
///////////////////////////////////////////////////////////////////////////////

.home-content {

}

.home-text {
  @include md {
    padding-bottom: 80px !important;
  }
}

.gudetama-link {
  &:hover {
    cursor: pointer;
  }
}

.home-grid__cell {
  color: $cream;
  letter-spacing: 0.1em;
  height: 50vh;
  background: #000;
  background: linear-gradient(40deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.2) 70%);

  // &:nth-child(2) {
  //   border-left-style: none;
  // }
  // &:nth-child(3) {
  //   border-top-style: none;
  // }
  // &:nth-child(4) {
  //   border-left-style: none;
  //   border-top-style: none;
  // }

  transition: all 0.5s ease;
  &:hover {
    background-color: #000;
    opacity: 0.5;
    font-size: 1.3em;
  }

  @include lg {
    transition: all 0.5s ease;
    height: 30vh;
  }

  @include md {
    transition: all 0.5s ease;
    height: 25vh !important;
    // border-top: 1px solid $cream !important;
    // border-bottom-style: none;
  }
}


///////////////////////////////////////////////////////////////////////////////
//                                                                           //
//                                Recipe Pages                               //
//                                                                           //
///////////////////////////////////////////////////////////////////////////////

.recipe-wrapper {
  background-color: rgba(0, 0, 0, 0.3);

  animation: 1s ease-out 0s 1 slideInFromRight !important;
}


///////////////////////////////////////////////////////////////////////////////
//                                                                           //
//                                   Modals                                  //
//                                                                           //
///////////////////////////////////////////////////////////////////////////////

#gudetama-img {
  width: 100%;
}
